/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Mitr", sans-serif;
}
body {
  background: linear-gradient(0deg,#ffffffc9,#000000);
  background-size: cover;
  background-repeat: no-repeat;
}
